extends layout

block content
  h1= title
  p Big fat form to add user

    form#formAddUser(name="adduser", method="post", action="/user_add")
        input#inputName(type="text", placeholder="User name", name="username")
        input#inputEmail(type="email", placeholder="User email", name="email")
        button#btnSubmit(type="submit") submit
